th{
text-align: center;
}

p{
    font-size: 14pt;
    margin-left: 70px;
}

.bold {
font-weight: bold;
}

select{
width: 400px;
}

textarea {
width: 400px;
}

 input[type="text"] {
    width: 400px;
    display: block;
    margin-bottom: 10px;
}

.button {
    width: 335px;
}