<html>        
<head>
<title>Error de acceso</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/text.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/style.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/eventos/js/admin/RelatedObjectLookups.js"></script>
</head>
<body>
<img src="/static/mosusa.gif"></img>
<p>División arroz</p>
<h2>Error de acceso</h2>
<ul>
 <li>No ha iniciado sesion</li>
 <li>Ha ingresado datos incorrectos</li>
</ul>

<a href="/accesar/">Inicie sesión</a>
</body>
</html>