{% load staticfiles %}
{% load extra_tags %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/static/tables.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/style.css" type="text/css" media="all" rel="stylesheet" />
<title>Estadísticas de Mantenimiento</title>
</head>
<body>
<img src="/static/mosusa.gif" class="centered"></img>
<p>División arroz</p>
<h2>Estadisticas de Mantenimiento</h2>
<h2><i>Órdenes de Mantenimiento Anuales</i></h2>
<img src="/graph/anual/{{anyo_id}}/"></img>
</body>
</html>