<html>
<head>
<link href="/static/style.css" type="text/css" media="all" rel="stylesheet" />
</head>
<body>
<h2>Orden de mantenimiento</h2>
<table>
<tr><td>Num.de orden: </td><td>{{Numero}}</td></tr>
<tr>
<td>Tipo de trabajo:</td><td>{{Tipo de trabajo}}</td>
</tr>
<tr>
<td>Tipo de mantenimiento:</td><td>{{Tipo de mantenimiento}}</td>
</tr>
<tr>
<td>Equipo/Maquinaria:</td><td>{{Equipo o maquinaria}}</td>
</tr>
<tr>
<td>Prioridad:</td><td>{{Prioridad del trabajo}}</td>
</tr>
<tr>
<td>Descripcion:</td><td>{{Descripcion}}</td>
</tr>
<tr>
<td>Partes de repuesto a ocupar:</td><td>{{Partes de repuesto}}</td>
</tr>
<tr>
<td>Materiales a ocupar:</td><td>{{Materiales a ocupar}}</td>
</tr>
<tr>
<td>Codigos de causa:</td><td>{{Codigos de causa}}</td>
</tr>
<tr>
<td>Supervisor que emite la orden:</td><td>{{Supervisor}}</td>
</tr>
<tr>
<td>Personal asignado para el trabajo:</td><td>{{Personal}}</td>
</tr>
</table>
</body>
</html>