{% extends 'base.html' %}
{% block content %}
<h3>Plan de mantenimiento</h3           >
<div id="navigation-bar">
<ul>
<li><a href="/accesar/">Iniciar sesión</a></li>
<li><a href="/accesar/">Ver ordenes de mant.</a></li>
<li><a href="/accesar/">Buscar</a></li>
</ul>
</div>
<div id="content">
<table>
<caption>Enero</caption>
<tr>
<th>Orden Mant.</th>
<th>Nombre</th>
<th>Categoría</th>
<th>Frecuencia</th>
<th>Verificado</th>
<th>Validado</th>
<th>Personal</th>
<th>Opciones</th>
</tr>
<tr>
<td>1</td>
<td>Lubricación Cadena - Detector de metales</td>
<td>LU</td>
<td>12 meses</td>
<td>Si</td>
<td>No</td>
<td>Antonio Velazquez</td>
<td></td>
</tr>
</table>
</div>
{% endblock %}